html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

html, body, #map {
  height: 100%;
}

.hidden {
  display: none;
}

.leaflet-touch .leaflet-bar-part-single {
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  border-bottom: none;
}

.leaflet-control-markers a, .leaflet-control-compass i {
  font-size: 1.4em;
}

.leaflet-control-locate a {
  font-size: 1.7em;
}

.leaflet-control-locate.active i {
  color: #265B86;
}

i.accurate {
  color: #F77!important;
}

i.very-accurate {
  color: #F00!important;
}
